/* line 5, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 12, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
body {
  padding: 0;
  background-image: url("/images/.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* line 21, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.container-fluid {
  padding: 60px 60px;
}

/* line 26, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.services {
  font-family: 'Dancing Script', cursive;
}

/* line 30, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.services h1 {
  font-family: 'Dancing Script', cursive;
  color: #676768;
}

/* line 35, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.sessions h4 {
  font-family: 'Dancing Script', cursive;
  color: #676768;
}

/* line 40, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.sessions p {
  font-family: 'Dancing Script', cursive;
}

/* line 44, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.home {
  font-family: 'Dancing Script', cursive;
}

/* line 48, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.contact {
  font-family: 'Dancing Script', cursive;
}

/* line 53, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.bio {
  font-family: 'Dancing Script', cursive;
}

/* line 57, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.video {
  font-family: 'Dancing Script', cursive;
}

/* line 61, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
h1 {
  font-family: 'Dancing Script', cursive;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

