/* line 5, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* line 12, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
body {
  padding: 0;
  background-image: url("/images/.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

/* line 21, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
h1 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: #000000;
}

/* line 26, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
h3 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

/* line 30, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
h4 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
}

/* line 38, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.carousel-inner img {
  width: 100%;
  margin: auto;
}

/* line 43, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.container-fluid {
  padding: 60px 60px;
}

/* line 48, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.services h1 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: #000000;
}

/* line 53, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.sessions h4 {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  color: #000000;
}

/* line 59, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
.rounded {
  border-radius: 20px;
  background: #e8edf9;
}

/* line 64, /home/slick/slickdevelopment/barrigabiz/app/assets/stylesheets/pages.scss */
img {
  min-height: 4em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

