// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
	margin: 0;
	padding: 0;
	height:100%;
}


body {
	padding: 0;
	background-image: url(image-path('.jpg'));
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}


h1 {
	font-family: 'Cinzel Decorative', cursive;
}

h3 {
	font-family: 'Cinzel Decorative', cursive;
}

h4 {
	font-family: 'Cinzel Decorative', cursive;
}

p {
	font-family: 'Playfair Display', serif;
}

.container-fluid {
      padding: 60px 60px;
      
  }

.services h1 {
	font-family: 'Cinzel Decorative', cursive;
	color: #676768;
}

.sessions h4 {
	font-family: 'Playfair Display', serif;
	color: #676768;
}

.sessions p {
	font-family: 'Playfair Display', serif;
}

.contact p {
	font-family: 'Playfair Display', serif;
}


.bio p {
	font-family: 'Playfair Display', serif;
}

.video p {
	font-family: 'Playfair Display', serif;
}

.rounded {
  border-radius: 20px;
  background: #e8edf9; 
}

