<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>Adriana Barriga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Playfair+Display" rel="stylesheet"> 
   <link href="https://fonts.googleapis.com/css?family=Abhaya+Libre" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet"> 
 <link href='https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Averia+Sans+Libre:300i" rel="stylesheet">


  <style>
  footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ffffff;
  background-attachment: scroll;
  background-position: 0% 0%;
  text-align: center;
  color: #676768;
}

  footer a {
  color: #676768;
}

   .navbar {
      margin-left: 0;
      margin-bottom: 0;
      background-color: #e8edf9;
      color: #676768;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #676768 !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #fff !important;
      background-color: #676768 !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #676768 !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #676768;
  }

  .panel {
      border: 5px solid #9ea9c1; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }

  .panel-footer .btn:hover {
      border: 1px solid #f76c98;
      background-color: #fff !important;
      color: #194d33;
  }
  .panel-heading {
      color: #676768 !important;
      background-color: #e8edf9 !important;
      padding: 25px;
      border-bottom: 0px solid transparent ;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #194d33;
      color: #fff;
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }

  </style>

</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=41952324249";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
	<span class="icon-bar"></span>                       
      </button>
      <a class="navbar-brand" href="home">ADRIANA BARRIGA</a>
    </div>
    <div class="collapse navbar-collapse" id="Navbar">
      <ul class="nav navbar-nav navbar-right">
	<li><a href="home">home</a></li>        
	<li><a href="bio">bio</a></li>
	<li><a href="https://www.youtube.com/channel/UCrfDJSLbK0ttMW7LNcGBXKA" target="_blank">videos</a></li>
        <li><a href="services">services</a></li>
        <li><a href="contact">contact</a></li>
      </ul>
    </div>
  </div>
</nav>

<%= yield %>


</div>

<footer>
<div id="footer">
<p class='text-left'>
Developed by <a target="_blank" href="http://www.slickrails.com">SlickRails</a>
</p>
</div>
</footer>

<script>
	$(document).ready(function(){
	// Initialize Tooltip
	$('[data-toggle="tooltip"]').tooltip();
})
</script>

<script src="https://www.gmodules.com/ig/ifr?url=https://www.google.com/ig/modules/youtube.xml&amp;up_channel=aaaa&amp;synd=open&amp;w=320&amp;h=390&amp;title=&amp;border=%23ffffff%7C3px%2C1px+solid+%23999999&amp;output=js"></script>

<!--jquery-->
<script src="./jquery/jquery-1.9.1.min.js"></script>
 
<!--youmax-->
<script src="./js/jquery.youmax.min.js"></script>

</body>
</html>
